<%-include("./partials/header.ejs")%>

    <div>
        <div class="ui main text container">
            <div class="ui huge header">All TODOS</div>
            <div class="ui top attached segment">
                <div class="ui divided items">
                    <% user.todo.forEach(function(todo){ %>
                        <div class="item">
                            <div class="content">
                                <div>
                                    <span>
                                        <b>Task Name:</b>
                                        <%=todo.title%>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <b>Task Description:</b>
                                        <%=todo.body%>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <b>Task Deadline:</b>
                                        <%=todo.deadline.toLocaleTimeString()%>
                                        <span> - </span>
                                        <%=todo.deadline.toLocaleDateString()%>
                                    </span>
                                </div>
                                <div>
                                    <b>Estimation time to complete the Task: </b>
                                    <span> <%=todo.hours%> </span>
                                    <span> hours </span>
                                    <span> <%=todo.minutes%></span>
                                    <span> minutes </span>
                                    
                                </div>

                                <div>
                                    <script>
                                        function YNconfirm() { 
                                        if (window.confirm('Are you sure want to delete the task?')){
                                        window.location.href = "/delete/<%=todo._id%>";
                                        }}
                                    </script>
                                    <a href="/delete/<%=todo._id%>" onclick="YNconfirm(); return false;"><i class="fa fa-trash fa-2x " aria-hidden="true"></i> Done</a>
                                    <span> 	&nbsp	&nbsp	&nbsp</span>
                                    <a href="/modify/<%=todo._id%>"><i class="fa fa-edit fa-2x" aria-hidden="true"></i> Modify Task</a>
                                </div>
                            </div>
                        </div>
    
                        <% }); %>
                </div>
            </div>

        </div>
    </div>

<%-include("./partials/footer.ejs")%>